:root {
    --title-font: 'Cormorant Garamond', serif;
    --subtitle-font: 'Merriweather', serif;
    --text-color: #000000;
}
body {
   background-image: url('https://i.pinimg.com/736x/72/47/ec/7247ecdd67da3beadc2d3f17ce1fecd2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: var(--subtitle-font);
    height: 150vh;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.logo {
    border-radius: 50%;
    width: 200px;
    padding: 30px;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-out;
}
h1 {
    font-family: var(--title-font);
    font-size: 35px;
    margin-top: -29px;
    font-weight: 700;
    color: var(--text-color);
}
h4 {
    font-family: var(--title-font);
    font-size: 27px;
    margin-top: -8px;
    font-weight: bold;
    color: white;
}:root {
    --title-font: 'Cormorant Garamond', serif;
    --subtitle-font: 'Merriweather', serif;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.logo {
    border-radius: 50%;
    width: 200px;
    padding: 30px;
    margin-bottom: 20px;
}
h1 {
    font-family: var(--title-font);
    font-size: 35px;
    margin-top: -29px;
    font-weight: 700;
    color: var(--text-color);
}
h4 {
    font-family: var(--title-font);
    font-size: 20px;
    margin-top: -8px;
    font-weight: bold;
}
.main2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -200px;

}
hr{
    height: 0px;
    margin: 0px 50px ;
    
}
.lane{
    margin-top: 20px;
    width: 600px;
    margin-left: 33%;
}
.body{
    margin-top: 10px;
    font-size: 22px;
    animation: fadeIn 1.8s ease-out;
}
.main3{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 4px;
    margin-top: -10px;
    animation: fadeIn 1.5s ease-out;

}
.hr{
    height: 0px;
    margin: 0px 90px ;
    
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
    max-width: 300px;
    margin-left: 41%;
    animation: smoothAppear 1.5s ease-out;
}

.line {
    height: 1px;
    background-color: rgb(255, 255, 255); 
    border: none;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px; 
    height: 85px;
    border-radius: 50%;
    font-size: 14px;
    animation: smoothAppear 1.5s ease-out;
}
.icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px; 
    height: 90px;
    border-radius: 50%;
    font-size: 14px;
    animation: smoothAppear 1.5s ease-out;
}

p{
    margin-top: -5px;
    font-family:'Playfair Display',sans-serif;
    font-size: 18px;
    color: black;
}
.h1{
    font-weight: bold;
    font-family:'Playfair Display',sans-serif;
    font-size: 25px;
    color: black;
    padding-top:33px ;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.bttn {
    font-family: 'Lora', serif;
    font-size: 18px;
    width: 800px;
    font-weight: 700;
    color: var(--text-color);
    background: #ffffff; 
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(252, 232, 232, 0.297);
    position: relative;
    overflow: hidden;
    animation: smoothAppear 1.5s ease-out;
}

.bttn:hover {
    box-shadow: 0 6px 20px rgba(252, 232, 232, 0.6);
    transform: scale(1.05);
}

.bttn:active {
    transform: scale(0.98);
}


.bttn:active {
    transform: scale(0.98);
}

.footer{
    font-size: 20px;
    margin-top: 50px;
    color: #ffffff;
   font-family: 'Merriweather', serif;
}

@media screen and (max-width: 1024px) {
    .bttn {
        width: 90%;
        font-size: 20px;
        padding: 12px;
    }
    h1 {
        font-size: 28px;
    }
    .h1{
        font-size: 33px;
    }
    .main{
        font-size: 25px;
    }
    .body{
        font-size: 35px;
    }
    .p{
        font-size: 25px;
    }
    .logo {
        width: 150px;
    }
    .divider {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .bttn {
        width: 85%;
        font-size: 18px;
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .h1{
        font-size: 22px;
    }
    .body{
        font-size: 22px;
    }
    .p{
        font-size: 18px;
    }
    h4 {
        font-size: 18px;
    }
    .logo {
        width: 120px;
    }
}

@media screen and (max-width: 480px) {
    .bttn {
        width: 90%;
        font-size: 16px;
        padding: 17px;

    }
    h1 {
        font-size: 20px;
    }
    .h1{
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    .p{
        font-size: 14px;
    }
    .logo {
        width: 100px;

    }
    .lane{
        margin-left: 40px;
        width: 300px;
    }
    .divider {
        flex-direction: row;
    
    }
    .footer{
        font-size: 22px;
    }
    .line {
        width: 80%;
    }
    .icon img {
        width: 60px;
        height: 60px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes smoothAppear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

